body {

background-color: rgb(0, 0, 0);
background-position: center;
background-size: cover;
margin: 0px;
}

.email {
color: rgb(147, 147, 140)2, 92, 80);
font-size: medium;
font-family:Redaction35-Regular;
text-align: left;
text-shadow: rgb(163, 146, 146) 1px 0 10px;
}

.logo {
color: rgb(100, 92, 92);
font-size: 60px;
font-family: Redaction35-Bold;
text-shadow: rgb(134, 130, 130) 1px 0 10px;
position: absolute;
top: 10%;
left: 90%;
transform: translate(-50%,-50%);
  
}

.bio {
color: white;
font-size: medium;
font-family: Redaction35-Regular;
margin-left: 10px;
text-align: center;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}



