body {
background-color: rgb(247, 245, 245);

}
.k2o-1 {
font-size: medium;
text-align: left;
color: rgb(12, 213, 236);

}
.text {
  font-size: small;
  text-align: left;
  color: rgb(0, 27, 163); 
}

.back {
font-size: medium;
text-align: right;
text-shadow: black 50px;
color: rgb(5, 5, 5);

}

.k2o-2 {

  font-size: 80px;
  /* font-family: sans-serif; */
  font-family:'Courier New', Courier, monospace;
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%,-50%);

}

span{

  display: inline-block;
  font-weight: bolder;
  animation: mover 18s linear infinite;
  color:  rgb(180, 239, 251);
}
@keyframes mover 
{
0%{
text-shadow: 0 0 30px rgba(0, 0, 0, 0);
}
50%{
text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
transform: translateY(30px);
}
100%
{
text-shadow: 0 0 30px rgba(0, 0, 0, 0);
}
}

span:nth-child(1)
{
  animation-delay: 0.5s;
}
span:nth-child(2)
{
  animation-delay: 1s;
}
span:nth-child(3)
{
  animation-delay: 3.5s;
}

/* 
body {
  background-color: powderblue;
  margin: 0;
  padding: 0;
}

.k2o-2{
  font-size: 20px;
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); }

/* span{
  animation: mover 6s linear infinite;
  display: inline-block;
  color: #2030df;
  font-weight: bolder;
}
@keyframes mover
{
  0%{
      text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
  50%{
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
      transform: translateY(30px);
    }
  100%
    {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
}
span:nth-child(1)
{
  animation-delay: 0.5s;
}
span:nth-child(2)
{
  animation-delay: 1s;
}
span:nth-child(3)
{
  animation-delay: 3.5s;
} */ 